In [1]:
library(tidyverse)
library(magrittr)
library(here)
library(phangorn)
library(furrr)

devtools::load_all(".")

plan(multiprocess)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘magrittr’

The following object is masked from ‘package:purrr’:

    set_names

The following object is masked from ‘package:tidyr’:

    extract

here() starts at /mnt/expressions/mp/archaic-ychr
Loading required package: ape
Loading required package: future
Loading ychr

### Total number of informative non-African derived sites?

In [2]:
highcov <- read_vcf(here("data/vcf/full_modern.vcf.gz"), mindp = 3, maxdp = 0.98, var_only = TRUE)

In [3]:
samples <- read_info(highcov)
outgroup <- c("a00", "S_Ju_hoan_North_1")
ingroup <- filter(samples, pop %in% c("WestEur", "EastEur"))$name

# define diagnostic positions (outgroup pops different from ingroup pops)
outgroup_pos <- rowMeans(highcov[, outgroup])
ingroup_pos <- rowMeans(highcov[, ingroup], na.rm = T)
info_highcov <- highcov[abs(outgroup_pos - ingroup_pos) == 1, ] %>% filter(!is.na(chrom))

In [4]:
nrow(info_highcov)

[1] 268

### Count non-African derived SNPs in each individual

In [5]:
estimate_cont <- function(individual, gt) {
    # get names of outgroup and ingroup individuals
    samples <- read_info(gt)
    outgroup <- c("a00", "S_Ju_hoan_North_1")
    ingroup <- filter(samples, pop %in% c("WestEur", "EastEur"))$name

    # subset only to relevant individuals
    gt <- gt[, c("chrom", "pos", "REF", "ALT", unique(c(individual, outgroup, ingroup)))]

    # define diagnostic positions (outgroup pops different from ingroup pops)
    outgroup_pos <- rowMeans(gt[, outgroup])
    ingroup_pos <- rowMeans(gt[, ingroup], na.rm = T)
    info_gt <- gt[abs(outgroup_pos - ingroup_pos) == 1, ]

    # extract a vector of alleles for the tested individual
    alleles <- info_gt[[individual]] %>% .[!is.na(.)]

    # convert the vector of alleles to counts of ancestral and derived alleles
    counts <- factor(alleles, levels = c(0, 1)) %>% table %>% as.data.frame
    names(counts) <- c("allele", "count")
    counts %>%
        mutate(allele = ifelse(allele == 0, "derived", "ancestral")) %>%
        spread(allele, count) %>%
        mutate(name = fix_name(individual),
               total = length(alleles),
               derived / total) %>%
        select(name, everything())
}

In [6]:
counts <- future_map_dfr(c("spy1", "mez2", "den4", "den8", "elsidron2"), function(individual) {
    capture <- ifelse(individual == "elsidron2", "lippold", "full")

    gt <- read_genotypes(individual, capture, mindp = 3, maxdp = 0.98, var_only = TRUE)

    estimate_cont(individual, gt)
})

In [7]:
counts

  name                    ancestral derived total derived/total
1 Spy 94a                  15       1        16   0.0625
2 Mezmaiskaya 2           189       0       189   0.0000
3 Denisova 4               14       0        14   0.0000
4 Denisova 8               90       0        90   0.0000
5 El Sidrón 1253 (560 kb)  29       0        29   0.0000

### Sanity check - derived-allele counts in present-day SGDP samples

In [8]:
counts_sgdp <- samples$name %>% future_map_dfr(~ estimate_cont(.x, highcov))

In [9]:
counts_sgdp %>% arrange(derived)

   name              ancestral derived total derived/total
1  S_Ju_hoan_North_1 268         0     268   0.0000000
2  A00               268         0     268   0.0000000
3  A00-1             249         0     249   0.0000000
4  A00-2             265         0     265   0.0000000
5  S_Dinka_1         106       153     259   0.5907336
6  S_Mandenka_1      107       156     263   0.5931559
7  S_Gambian_1       106       158     264   0.5984848
8  S_Yoruba_2        107       159     266   0.5977444
9  S_Mbuti_1         105       160     265   0.6037736
10 S_Burmese_1         0       260     260   1.0000000
11 S_Sardinian_1       0       262     262   1.0000000
12 S_Saami_2           0       262     262   1.0000000
13 Ust'-Ishim          0       263     263   1.0000000
14 S_BedouinB_1        0       263     263   1.0000000
15 S_Turkish_1         0       263     263   1.0000000
16 S_French_1          0       263     263   1.0000000
17 S_Han_2             0       263     263   1.0000000
18 S_Dai_2             0       263     263   1.0000000
19 S_Karitiana_1       0       263     263   1.0000000
20 S_Papuan_2          0       264     264   1.0000000
21 S_Finnish_2         0       265     265   1.0000000
22 S_Punjabi_1         0       265     265   1.0000000
23 S_Thai_1            0       267     267   1.0000000

# Estimate contamination based on a pileup

In [33]:
info_pos <- info_highcov %>% select(chrom, pos, REF, ALT)

In [54]:
df_pileups <- future_map_dfr(c("spy1", "mez2", "den4", "den8", "elsidron2"), function(individual) {
    capture <- ifelse(individual == "elsidron2", "lippold", "full")
    df_pileup <- read_tsv(here(paste0("data/pileup/", capture, "_", individual, ".txt.gz")),
                          col_type = "cicciiii")

    left_join(info_pos, df_pileup, by = c("chrom", "pos")) %>%
        select(-ref) %>%
        filter(nchar(pileup) >= 3) %>%
        mutate(
            prop = case_when(
                REF == "A" ~ A / (A + C + G + T),
                REF == "C" ~ C / (A + C + G + T),
                REF == "G" ~ G / (A + C + G + T),
                REF == "T" ~ T / (A + C + G + T)
            ),
            name = fix_name(individual)
        )
    }
)

In [55]:
df_pileups %>%
    group_by(name) %>%
    summarise(cont = mean(prop))

  name                    cont
1 Denisova 4              0.19479167
2 Denisova 8              0.03354257
3 El Sidrón 1253 (560 kb) 0.02967033
4 Mezmaiskaya 2           0.03860624
5 Spy 94a                 0.10625000

In [56]:
df_pileups %>% filter(name == "Denisova 4")

   chrom pos      REF ALT pileup A C G T prop      name
1  Y      2707859 G   C   TCC    0 2 0 1 0.0000000 Denisova 4
2  Y      2757670 T   C   TCC    0 2 0 1 0.3333333 Denisova 4
3  Y      7173143 A   G   GGG    0 0 3 0 0.0000000 Denisova 4
4  Y      7533511 A   G   GGAA   2 0 2 0 0.5000000 Denisova 4
5  Y      7740081 A   G   GGG    0 0 3 0 0.0000000 Denisova 4
6  Y      7778691 T   C   CCCT   0 3 0 1 0.2500000 Denisova 4
7  Y      7796647 T   C   CCT    0 2 0 1 0.3333333 Denisova 4
8  Y      7887815 T   A   TAA    2 0 0 1 0.3333333 Denisova 4
9  Y      8474189 C   A   AAAA   4 0 0 0 0.0000000 Denisova 4
10 Y      8526565 A   G   GAG    1 0 2 0 0.3333333 Denisova 4
11 Y      8543804 A   G   GGG    0 0 3 0 0.0000000 Denisova 4
12 Y      8589031 T   C   CCC    0 3 0 0 0.0000000 Denisova 4
13 Y      8602415 T   C   CTT    0 1 0 2 0.6666667 Denisova 4
14 Y     14079528 T   C   TCC    0 2 0 1 0.3333333 Denisova 4
15 Y     14197867 A   G   AGA    2 0 1 0 0.6666667 Denisova 4
16 Y     15553123 T   C   CTC    0 2 0 1 0.3333333 Denisova 4
17 Y     15614295 T   C   TTCC   0 2 0 2 0.5000000 Denisova 4
18 Y     16567551 A   G   AGGGGG 1 0 5 0 0.1666667 Denisova 4
19 Y     17493513 T   C   TCC    0 2 0 1 0.3333333 Denisova 4
20 Y     17897543 T   C   CCCCC  0 5 0 0 0.0000000 Denisova 4
21 Y     18051289 G   C   CCC    0 3 0 0 0.0000000 Denisova 4
22 Y     18592845 A   G   GAGG   1 0 3 0 0.2500000 Denisova 4
23 Y     18765649 C   T   TTTT   0 0 0 4 0.0000000 Denisova 4
24 Y     19077394 G   A   AAA    3 0 0 0 0.0000000 Denisova 4
25 Y     19220444 G   A   AAAA   4 0 0 0 0.0000000 Denisova 4
26 Y     21249694 A   G   GGAG   1 0 3 0 0.2500000 Denisova 4
27 Y     21429988 G   A   AAA    3 0 0 0 0.0000000 Denisova 4
28 Y     21650381 G   A   AAGA   3 0 1 0 0.2500000 Denisova 4
29 Y     22156498 A   C   CCC    0 3 0 0 0.0000000 Denisova 4
30 Y     22176853 A   G   GGGG   0 0 4 0 0.0000000 Denisova 4
31 Y     23555082 A   T   TTT    0 0 0 3 0.0000000 Denisova 4
32 Y     24443898 T   C   CCCTT  0 3 0 2 0.4000000 Denisova 4

In [59]:
chag_pileups <- future_map_dfr(paste0("chag", c("01", "02", "06", "07", "09", "1141", "13", "14", "19", "41")),
                                    function(individual) {
    capture <- ifelse(individual == "elsidron2", "lippold", "full")
    df_pileup <- read_tsv(paste0("../../chag-ychr/data/pileup/", capture, "_", individual, ".txt.gz"),
                          col_type = "cicciiii")

    left_join(info_pos, df_pileup, by = c("chrom", "pos")) %>%
        select(-ref) %>%
        filter(nchar(pileup) >= 3) %>%
        mutate(
            prop = case_when(
                REF == "A" ~ A / (A + C + G + T),
                REF == "C" ~ C / (A + C + G + T),
                REF == "G" ~ G / (A + C + G + T),
                REF == "T" ~ T / (A + C + G + T)
            ),
            name = fix_name(individual)
        )
    }
)

In [60]:
chag_pileups %>%
    group_by(name) %>%
    summarise(cont = mean(prop))

  name     cont
1 chag01   0.25528455
2 chag02   0.00000000
3 chag07   0.01960784
4 chag09   0.12500000
5 chag1141 0.00000000
6 chag13   0.01666667
7 chag19   0.07692308
8 chag41   0.06435971