In [10]:
suppressPackageStartupMessages({

    library(tidyverse)
    library(magrittr)
    library(here)
    library(bdkn)

})

In [19]:
source(here("src/utils.R"))

In [20]:
gt <- read_simgt("../out.tsv")

In [21]:
samples = read_siminfo(gt)

In [22]:
ref <- filter(samples, str_detect(name, "eur"))$name

In [23]:
tAfrRef <- calculate_tAfrRef(gt, samples) %>% select(afr, emh, starts_with("tmrca"), mut_rate, everything())

In [24]:
tAfrRef %>% group_by(afr) %>% summarise_if(is.numeric, mean)

  afr  tmrca_ad tmrca_f  tmrca_avg mut_rate     a   b c d   e f   total   age
1 afr0 239010.1 235958.2 237484.1  3.269892e-10 439 0 0 108 5 540 6999891 45000
2 afr1 239010.1 235084.3 237047.2  3.269892e-10 439 0 0 108 5 538 6999891 45000
3 afr2 239010.1 235958.2 237484.1  3.269892e-10 439 0 0 108 5 540 6999891 45000
4 afr3 239010.1 233336.4 236173.2  3.269892e-10 439 0 0 108 5 534 6999891 45000
5 afr4 239010.1 235958.2 237484.1  3.269892e-10 439 0 0 108 5 540 6999891 45000
  muts_per_year
1 0.002288889
2 0.002288889
3 0.002288889
4 0.002288889
5 0.002288889

In [25]:
tArchRef <- calculate_tArchRef(gt, samples, tAfrRef)

In [26]:
tArchRef %>% group_by(arch) %>% summarise_if(is.numeric, mean)

  arch  tmrca_arch alpha    mut_rate     tmrca_ad tmrca_f tmrca_avg a   b c d
1 arch0 636078.7   2.682339 3.269892e-10 239010.1 235259  237134.6  913 0 0 547
2 arch1 636078.7   2.682339 3.269892e-10 239010.1 235259  237134.6  913 0 0 547
  e     f    total   p
1 538.4 1159 6999891 0.4568663
2 538.4 1348 6999891 0.4568663